<?php
$databases['default']['default'] = [
  'database' => '{{ db_name }}',
  'username' => '{{ db_user }}',
  'password' => '{{ db_password }}',
  'prefix' => '',
  'host' => '{{ db_host }}',
  'port' => '5432',
  'namespace' => 'Drupal\\pgsql\\Driver\\Database\\pgsql',
  'driver' => 'pgsql',
];

$settings['config_sync_directory'] = '{{ drupal_root }}/config/sync';
$settings['file_private_path'] = '{{ drupal_root }}/private';
